#project-wrapper {
    position: fixed;
    display: inline-block;
    margin: auto;
    left: 25%;
    right: 25%;
    bottom: 10px;
    width: 20%;
    display: none;
    background-size: cover;
    background: url('/og_image.png') no-repeat;
    background-size: cover;
    background-size: 100%;
    border-radius: 25px;
}

#project-wrapper a {
    max-width: 100%;
    max-height: 100%;
}

#musName {
    opacity: 0.5;
}

#range {
    width: 100%;
}

#artName {
    text-align: center;
}

#musName {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    #project-wrapper {
    position: fixed;
    display: inline-block;
    margin: auto;
    bottom: 10px;
    width: 20%;
    left: 50px;
    display: none;
    background-size: cover;
    background: url('/og_image.png') no-repeat;
    background-size: 100% 200px;
    overflow: hidden;
    border-radius: 25px;
    }
    #musName {
        opacity: 0.5;
    }
    #range {
        width: 100%;
    }
    #artName {
        text-align: center;
    }
    #musName {
        text-align: center;
    }
}