*{
    box-sizing: border-box;
    color: white;
}
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin:  0 auto;
    margin-top: 20%;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
#firstSec{
    height: 250px;
}
#play{
    width: auto;
    height: 300px;
}
#content{
    margin-top: 20px;
    width: 100%;
}
#elementi{
    margin-top: 20px;
}
ul{
    list-style: none;
}
#tracksInfo{
    margin-top: 100px;
    width: auto;
    height: 500px;
}

body{
    width: 100%;
    height: 100%;
}
#whole{
    position: absolute;
    /* z-index: 1; */
}
#carousel  img{
    position: relative;
    float: left;
    width: 100%;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
#carouselLinear{
    width: 280px;
}
#carouselLinear img{
    width: 280px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#modBody{
    z-index: 2;
    color: black;
}
#modHead{
    z-index: 2;
    color: black;
}
#music{
    opacity: 0.5;
}
#musicData{
    padding-top: 50px;
    height: 300px;
    width: 100%;
    border: 1px solid aliceblue;
    border-radius: 10px; 
    margin-top: 20px; 
}
#tabela{
    width: 100%;
    height: 300px;
    font-size: 25px;
}
#ganreNames{
    width: 100%;
    font-size: 25px;
    margin: 20px 0px;
    border: none; 
    border-collapse: collapse;
}
#ganreNames td + td {
    border: 1px soild red;
}
#ganreNames {
    background-color: transparent;
    margin-bottom: 50px;
    border: 1px solid aliceblue;
    border-radius: 10px; 
    border-collapse: separate;
    border-spacing: 1px 5px;
}
#ganreMusic {
    width: 100%;
    border: 1px solid aliceblue;
    border-radius: 10px; 
    margin-top: 5px;
}
#ganreMusic a{
    margin-right: 10px; 
}
#ganreMusic li{
    margin-top: 10px; 
}

#musicRow td:first-child{
    text-align: center;
}
#musicRow tr{
    border-radius: 10px; 
}
#ganreRow td:first-child{
    text-align: center;
}
#ganreRow tr{
    border-radius: 10px; 
}
#ganreNames td + td{
    background: lightblue;
    color: black;
}
#ganreNames tr + tr{
    background-color: lightblue;
    border-radius: 10px;
}
#ganreNames tr{
    border-radius: 10px;
}

.fa-music{
    color: black;
}
#cart{
    float: right;
    font-size: 20px;
    transition: 0.5s;
    margin: 0 auto;

}
#cart:hover{
    font-size: 35px; 
}
#buyP a{
    text-decoration: none;
    color: inherit;
}
#musicButton{
    margin-right: 10px; 
}
.modal-lg{
    max-width: 20% ;
}
#sing-in{
    padding-top: 20px;
    margin: 20px 0px;
    text-align: center;
    background:rgba(255,255,255,0.05);
   
}

#sing-up{
    padding: 20px 20px;
    margin: 20px 0px;
    text-align: center;
    background:rgba(255,255,255,0.05);
}
#singInModal{
    background: url('/singForm.jpg') no-repeat;
    background-size: cover;
    height: auto;
    max-width: 100%;
}
#sing-up{
    display: none;
}
#new{
    margin-bottom: 10px;
}
.def{
    background: lightslategray;
}
.red{
    background: red;
}
.blue{
    background: blue;
    color: white;
}
.lightblue{
    background: lightblue;
}
.yellow{
    background: orange;
    color: black;
}

#msg{
    padding-top: 5px; 
}
#excel{
    font-size: 26px;
    position: relative;
    top: -32px;
    right: -170px;
    color: red;
}
.alert{
    display: none;
}
.fa-user{
    font-size: 38px;
    z-index: 1;
    position: relative;
}
#dropdownUserButton ::after{
    display: none;
}
.navbar-right{
    margin-right: 100px; 
}

#dropdownUserButton{
    margin-right: 10px; 
}
#dropDownUserMenu{
    width: 10px;
}
#dropdownStyleMenu{
    width: 10px;
}

#singMsg{
    margin-top: 5px;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    z-index: 2;
    position: relative;
    left: -15px;
    bottom: -5px;
    top: -2px;
}



#pagination-demo{
    display: inline-block;
    margin-bottom: 1.75em;
  }
  #pagination-demo li{
    display: inline-block;
  }


meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  
    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;
  
    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}
meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }



@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
#activeUser{
    visibility: hidden;
    position: relative;
    top: 7px;
    left: -7px;
}
.page-item{
    color: black;
}
.page-link{
    background-color: red;
    border-color: black;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #musicData{
        padding-top: 0px;
        height: 250px;
        width: 100%;
        box-sizing: border-box;
        margin-top: 0px;
    }
    #content {
        height: 350px;
        display: block;
    }
    #firstSec{
        margin-bottom: 400px;  
    }

    #musicData{
        margin-top: 10px; 
    }
    .modal-lg{
        max-width: 100%;
    }
    #singInModal{
        display: flex;
        flex-direction: column;
    }
    #content{
        margin-right: -40px;
        margin-left: 14px;
        max-height: 20%;
    }
    #elementi{
        margin-right: -40px;
        margin-left: 14px;
    }
    #elementi ul{
        padding-left: 5px;
        padding-top: 5px;
    }
    #dropdownUserButton{
        margin-bottom: 10px; 
    }
}
@media only screen and (min-width: 768px){
    #elementi{
        margin-top: 30px;
        /* margin-left: 10px; */
    }
    #firstSec{
        max-height: 100%;
        margin-bottom: 10px;
    }


}