*{
    box-sizing: border-box;
}
#play{
    border: 1px solid green;
    width: auto;
    height: 210px;
}
#content{
    margin-top: 20px;
}
ul{
    list-style: none;
}
#tracksInfo{
    margin-top: 100px;
    width: auto;
    height: 500px;
}
#tracksMidle{
    /* margin-left:20px;
    margin-right:20px; */

}