*{
    box-sizing: border-box;
    color: white;
}
#firstSec{
    height: 250px;
}
#play{
    width: auto;
    height: 300px;
}
#content{
    margin-top: 20px;
}
#elementi{
    margin-top: 20px;
}
ul{
    list-style: none;
}
#tracksInfo{
    margin-top: 100px;
    width: auto;
    height: 500px;
}
#tracksMidle{
    margin-left:20px;
    margin-right:20px;

}
body{
    width: 100%;
    height: 100%;
}
#whole{
    position: relative;
}
#carousel  img{
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.allArtStyle{
    margin-left: 20px; 
    width: 30%;
    border: 1px solid black;
    text-align: center;
    background-color: darkgray;
    font-size: 32px;
}
.allArtStyleMusic{
    width: 67%;
    margin-top: 20px;
    border: 1px solid red;
}
.allArtStyle ul li{
    list-style-type: none;
}
.allArtStyle ul li:hover{
    background-color: gold;
    border: 1px solid grey; 
}

#modBody{
    z-index: 2;
    color: black;
}
#modHead{
    z-index: 2;
    color: black;
}
#colorRed{
    color: red;
}
#music{
    opacity: 0.5;
}
#musicData{
    padding-top: 50px;
    height: 300px;
    width: 100%;
}
#tabela{
    width: 100%;
    height: 300px;
    font-size: 25px;
}
#ganreNames{
    width: 100%;
    font-size: 25px;
    margin: 20px 20px;
    border: none; 
    border-collapse: collapse;
}
#ganreNames td + td {
    border: 1px soild red;
}
#ganreNames {
    background-color: transparent;
    margin-bottom: 100px;
    border: 1px solid aliceblue;
    border-radius: 10px; 
    border-collapse: separate;
    border-spacing: 1px 5px;
}
#ganreMusic{
    width: 100%;
    border: 1px solid aliceblue;
    border-radius: 10px; 
    margin-top: 20px; 
}
#ganreMusic a{
    margin-right: 10px; 
}
#ganreMusic li{
    margin-top: 10px; 
}
#musicData{
    width: 100%;
    border: 1px solid aliceblue;
    border-radius: 10px; 
    margin-top: 20px; 
}
#musicData a{
    margin-right: 10px; 
}
#musicData li{
    margin-top: 10px; 
}
#play{
   /* border: 1px solid red; */
}

#ganreRow td:first-child{
    text-align: center;
}
#ganreRow tr{
    border-radius: 10px; 
}
#ganreNames td + td{
    background: lightblue;
    color: black;
}
#ganreNames tr + tr{
    background-color: lightblue;
    border-radius: 10px;
}
#ganreNames tr{
    border-radius: 10px;
}

.fa-music{
    color: black;
}
#cart{
    float: right;
    font-size: 20px;
    transition: 0.5s;
    margin: 0 auto;

}
#cart:hover{
    font-size: 35px; 
}
